



@media only screen and (max-width: 768px) {
/* ############# MAKING BURGER###### */

.header__burger{
    display:block;
    position:relative;
    width:30px;
    height:20px;
    cursor: pointer;
}


.header__burger span{
    background-color: black;
    position:absolute;
    left:0;
    width:100%;
    height:2px;
    top:9px;
}

.header__burger:before,
.header__burger:after{
    content:"";
    background-color: black;
    position:absolute;
    width:100%;
    height:2px;
    left:0;
}

.header__burger:before{
    top:0;
    transition:2sec
}

.header__burger:after{
    bottom:0;
}

/* ######Active */

.header__burger_active{
    display:block;
    position:relative;
    width:30px;
    height:20px;
    cursor: pointer;
}

.header__burger_active:before,
.header__burger_active:after
{
    content:"";
    background-color: black;
    position:absolute;
    width:100%;
    height:2px;
    left:0;
}

.header__burger_active:before{
     top:9px; 
    transform:rotate(45deg);
}


.header__burger_active:after{
      bottom:9px ;
     transform:rotate(-45deg);
}

.header__burger_active span{
    display:none;
}
}
