body {
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
}


.App{
  color: #4d4e53;
  background-color:#f7f7f7;
  font-family: 'Open Sans', Arial, sans-serif;
}

.appContainer{
  position:relative;
  display:grid;
  height:100vh;
grid-template-areas:
"header header"
"nav main"
"footer footer";
grid-template-columns: minmax(150px, 300px) minmax(300px, 1fr);
grid-template-rows:50px 1fr 30px ;

}

header{
  grid-area:header;
  text-align: start;
  border-bottom:3px solid rgba(0, 22, 22, 0.4);
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding:10px
}

nav{
grid-area:nav;
border-right:3px solid rgba(0, 22, 22, 0.4);
}

.navBar{/* is not needed because we specified css for nav tag */}

.noNavBar{
  display:none;
}

main{
  grid-area:main;
  border-right:3px solid rgba(0, 22, 22, 0.4);
  padding:10px
}

footer{
  grid-area:footer;
  border-top:3px solid rgba(0, 22, 22, 0.4);
  padding:10px
}

@media only screen and (max-width: 768px) {

  .appContainer{
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows:50px 1fr 30px ;
  }



nav{
    position:fixed;
    width:100%;
     top:50px;
     grid-area: none;
     z-index:1;
     background-color: rgba(233, 235, 235, 0.9);
}


main{
  border-right:none;

}
  }